<div class="row">
    <section class="col"></section>
    <section class="col-10">
        <section class="row justify-content-center">
            <h3>
                <i class="fa fa-user"></i> Create a New User
            </h3>
        </section>
        <section class="row mt-3">
            <section class="col-12">
                <form (ngSubmit)="saveUser(form)" #form="ngForm">
                    <section class="form-row justify-content-center">
                        <section class="form-group col-md-3">
                            <label for="natId">National Id</label>
                            <input #natID="ngModel" ngModel name="natId" class="form-control" type="number"
                                [ngClass]="{'is-invalid' : form.submitted && natID.errors?.required}"
                                placeholder="National Id..." required>
                            <small class="invalid-feedback" *ngIf="form.submitted && natID.errors?.required">Le national
                                id est obligatoire</small>
                        </section>
                        <section class="form-group col-md-3">
                            <label for="company">Companie</label>
                            <input ngModel name="company" class="form-control" placeholder="Companie...">
                        </section>
                    </section>
                    <section class="form-row justify-content-center mt-3">
                        <section class="form-group col-md-3">
                            <label for="fullname">Nom Prenom</label>
                            <input #fullname="ngModel" ngModel name="name" class="form-control"
                                [ngClass]="{'is-invalid' : form.submitted && fullname.errors?.required}"
                                placeholder="Nom Prenom..." required>
                            <small class="invalid-feedback" *ngIf="form.submitted && fullname.errors?.required">Le nom
                                et prénom sont obligatoires</small>
                        </section>
                        <section class="form-group col-md-3">
                            <label for="mail">Email</label>
                            <input #email="ngModel" ngModel name="email" class="form-control" type="email"
                                [ngClass]="{'is-invalid' : form.submitted && email.errors?.required}"
                                placeholder="Email..." required>
                            <small class="invalid-feedback" *ngIf="form.submitted && email.errors?.required">L'email est
                                obligatoire</small>
                        </section>
                    </section>
                    <section class="form-row justify-content-center mt-3">
                        <section class="form-group col-md-6">
                            <label for="adress">Adresse complète</label>
                            <input ngModel name="address" class="form-control" placeholder="Adresse...">
                        </section>
                    </section>
                    <section class="form-row justify-content-center mt-3">
                        <section class="form-group col-md-3">
                            <label for="example-date-input">Date</label>
                            <input ngModel name="birthDate" class="form-control" type="date">
                        </section>
                        <section class="form-group col-md-3">
                            <label for="phoneNumber">Téléphone</label>
                            <input ngModel name="phone" class="form-control" placeholder="Téléphone...">
                        </section>
                    </section>
                    <section class="form-group form-row justify-content-center mt-2">
                        <section class="col-md-3 pl-4">
                            <input ngModel name="isActive" class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck"> Active ? </label>
                        </section>
                        <section class="col-md-3">
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </section>
                    </section>
                </form>
            </section>
        </section>
    </section>
    <section class="col"></section>
</div>