<div class="row">
    <section class="col"></section>
    <section class="col-10">
        <section class="row justify-content-center">
            <h3>
                <i class="fa fa-user"></i> Create a New User
            </h3>
        </section>
        <section class="row mt-3">
            <section class="col-12">
                <form>
                    <section class="form-row justify-content-center">
                        <section class="form-group col-md-3">
                            <label for="natId">National Id</label>
                            <input [(ngModel)]="user.natId" name="natId" class="form-control" type="number"
                            [ngClass]="{'is-invalid' : !natIdValidator}"placeholder="National Id..." required>
                                
                        </section>
                        <section class="form-group col-md-3">
                            <label for="company">Companie</label>
                            <input [(ngModel)]="user.company" name="company" class="form-control"
                                placeholder="Companie...">
                        </section>
                    </section>
                    <section class="form-row justify-content-center mt-3">
                        <section class="form-group col-md-3">
                            <label for="fullname">Nom Prenom</label>
                            <input [(ngModel)]="user.name" name="fullname" class="form-control"
                            [ngClass]="{'is-invalid' : !nameValidator}"
                                placeholder="Nom Prenom..." required>
                        </section>
                        <section class="form-group col-md-3">
                            <label for="mail">Email</label>
                            <input [(ngModel)]="user.email" name="email" class="form-control" type="email"
                                placeholder="Email..." required>
                        </section>
                    </section>
                    <section class="form-row justify-content-center mt-3">
                        <section class="form-group col-md-6">
                            <label for="adress">Adresse complète</label>
                            <input [(ngModel)]="user.address" name="address" class="form-control" placeholder="Adresse...">
                        </section>
                    </section>
                    <section class="form-row justify-content-center mt-3">
                        <section class="form-group col-md-3">
                            <label for="example-date-input">Date</label>
                            <input [ngModel]="user.birthDate | date : 'yyyy-MM-dd'" (ngModelChange)="user.birthDate=$event" name="birthDate" class="form-control" type="date">
                        </section>
                        <section class="form-group col-md-3">
                            <label for="phoneNumber">Téléphone</label>
                            <input [(ngModel)]="user.phone" name="phoneNumber" class="form-control" placeholder="Téléphone...">
                        </section>
                    </section>
                    <section class="form-group form-row justify-content-center mt-2">
                        <section class="col-md-3 pl-4">
                            <input [(ngModel)]="user.isActive" name="isActive" class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck"> Active ? </label>
                        </section>
                        <section class="col-md-3">
                            <button type="submit" (click)="editUser()" class="btn btn-primary">Soumettre</button>
                        </section>
                    </section>
                </form>
            </section>
        </section>
    </section>
    <section class="col"></section>
</div>